.hr_container {

  .header {
    display: block;
    min-width: 1500px;

    .fixed {
      position: fixed;
    }

    &-image {
      width: 250px;
      height: 190px;
      top: 0;
      left: 0;
    }

    &-link {
      position: absolute;
      display: flex;
      flex-direction: column;
      height: 45px;
      justify-content: space-between;
      top: 20px;
      left: 160px;

      a {
        text-decoration: none;
        font-size: 14px;
        color: rgb(202, 165, 202);
      }
    }

    .item {
      width: 250px;
      display: inline-block;

      img {
        width: 100%;
        height: 96.61px;
      }

      .header-image {
        height: auto;
      }
    }

    .item1 {
      position: relative;
      margin-left: 300px;
    }

  }

  .hr-main {
    margin: 20px 0 30px 300px;
    display: grid;
    grid-template-columns: repeat(4, 214px);
    grid-column-gap: 45px;
    grid-row-gap: 15px;

    .card-item {
      width: 214px;
      height: 200px;
      border: 2px solid black;
      padding: 5px;
      background-color: white;
      box-sizing: border-box;

      .card-image {
        width: 200px;
      }

      .card-image1 {
        width: 100px;
        height: 148px;
        margin-left: 100px;
      }

      .card-link {
        text-decoration: none;
        color: black;

        .card-image-block {
          display: flex;

          .image-of-block {
            width: 100px;
            height: 148px;
          }

          .image-of-block1 {
            margin-left: 92px;
            width: 8px;
            height: 148px;
          }

          .image-of-block2 {
            width: 100px;
            height: 148px;
          }
        }

        .last-card-little-font {
          font-size: 14px;
        }
      }
    }

    .card-item_done {
      animation: 5s swap-color3 infinite;
    }
  }
}
