.it-come-body {
  height: 100vh;
  background: linear-gradient(45deg, pink, blue, green, red);
}

.it_come_container {

  .header {
    display: block;
    min-width: 1500px;

    .fixed {
      position: fixed;
      top: 0;
      left: 0;
    }

    &-image {
      width: 250px;
      height: 190px;
    }

    &-link {
      position: absolute;
      display: flex;
      flex-direction: column;
      height: 45px;
      justify-content: space-between;
      top: 20px;
      left: 160px;

      a {
        text-decoration: none;
        font-size: 14px;
        color: rgb(202, 165, 202);
      }
    }

    .item {
      width: 250px;
      display: inline-block;

      img {
        width: 100%;
        height: 96.61px;
      }

      .header-image {
        height: auto;
      }
    }

    .item1 {
      position: relative;
      margin-left: 300px;
    }

  }

  .it_come-main {
    margin: 20px 0 0 500px;
    display: grid;
    grid-template-columns: repeat(2, 264px);
    grid-column-gap: 145px;
    grid-row-gap: 15px;

    .card-item {
      width: 264px;
      height: 380px;
      border: 2px solid black;
      padding: 5px;
      background-color: white;
      box-sizing: border-box;

      .card-image1 {
        display: block;
        width: 250px;
        height: 350px;
      }

      .card-link {
        text-decoration: none;
        color: black;
      }
    }

    .card-item_done {
      animation: 5s swap-color infinite;
    }
  }
}
