.slappyworld_e_container {
  display: flex;
  flex-direction: column;

  .header {
    display: block;

    .fixed {
      position: fixed;
    }

    &-image {
      width: 250px;
      height: 190px;
      top: 0;
      left: 0;
    }

    &-link {
      position: absolute;
      display: flex;
      flex-direction: column;
      height: 45px;
      justify-content: space-between;
      top: 20px;
      left: 160px;

      a {
        text-decoration: none;
        font-size: 14px;
        color: rgb(202, 165, 202);
      }
    }

    .item {
      display: inline-block;
      width: 250px;

      img {
        width: 100%;
        height: 96.61px;
      }

      .image2 {
        width: 230px;
        height: 100px;
      }

      .header-image {
        height: auto;
      }
    }

    .item1 {
      position: relative;
      margin-left: 300px;
    }
  }
  .slappyworld_e-main {
    margin-left: 300px;
    display: grid;
    grid-template-columns: repeat(4, 214px);
    grid-column-gap: 45px;
    grid-row-gap: 15px;

    .card-item {
      width: 214px;
      height: 282px;
      border: 2px solid black;
      padding: 5px;
      box-sizing: border-box;

      .card-image1 {
        width: 200px;
        height: 268px;
        margin-right: 100px;
      }

      .card-link {
        text-decoration: none;
        color: black;
        font-size: 15px;

        .card-image-block {
          display: flex;

          .image-of-block {
            width: 100px;
            height: 148px;
          }
        }
      }
    }
  }
}
