.tales_to_give_you_goosebumps_container {
  display: flex;
  align-items: flex-start;

  .header {
    display: flex;
    flex-direction: column;
    width: 250px;

    .fixed {
      position: relative;
    }

    &-image {
      width: 250px;
      height: 190px;
      top: 0;
      left: 0;
    }

    &-link {
      position: absolute;
      display: flex;
      flex-direction: column;
      height: 45px;
      justify-content: space-between;
      top: 20px;
      left: 160px;

      a {
        text-decoration: none;
        font-size: 14px;
        color: rgb(202, 165, 202);
      }
    }

    .header-image2 {
      width: 250px;
      height: 250px;
      margin-bottom: 5px;
    }
  }

  .tales_to_give_you_goosebumps-main {
    margin: 30px 0 0 30px;
    display: grid;
    width: 700px;
    grid-template-columns: repeat(3, 200px);
    grid-column-gap: 50px;
    grid-row-gap: 15px;

    .card-item {
      width: 200px;
      height: 278px;

      .card-image {
        width: 200px;
        height: 278px;
      }
    }
  }

  .item1 {
    margin: 30px 0 0 20px;
    display: flex;
    flex-direction: column;

    img {
      width: 250px;
      height: 250px;
      margin-bottom: 5px;
    }
  }
}
