@import "index";
@import "goosebumps";
@import "give_youself_goosebumps";
@import "tales_to_give_you_goosebumps";
@import "goosebumps_horrorland";
@import "goosebumps_hall_of_horrors";
@import "most_wanted";
@import "monster_edition";
@import "slappy_world";
@import "ros";
@import "goose";
@import "gr2";
@import "hr";
@import "hh";
@import "mw";
@import "goosebumps_triple_header";
@import "it_come";
@import "gsw";
@import "attack_of_the_mutant";
@import "galery";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
