@import "index";
@import "goosebumps_r";
@import "goosebumps_e";
@import "goosebumps2_r";
@import "reader_beware_e";
@import "horrorland_r";
@import "horrorland_e";
@import "halllofhorrors_r";
@import "halllofhorrors_e";
@import "mostwanted_r";
@import "mostwanted_e";
@import "slappyworld_r";
@import "slappyworld_e";
@import "tales";
@import "bez-raznici";
@import "ast";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes swap-color0 {
  0% {
    background-color: rgb(9, 218, 255);
  }

  20% {
    background-color: rgb(9, 218, 255);
  }

  40% {
    background-color: rgb(9, 218, 255);
  }

  60% {
    background-color: rgb(247, 139, 206);
  }

  80% {
    background-color: rgb(247, 139, 206);
  }

  100% {
    background-color: rgb(9, 218, 255);
  }
}

@keyframes swap-color1 {
  0% {
    background-color: white;
  }

  20% {
    background-color: rgb(255, 7, 7);
  }

  40% {
    background-color: rgb(255, 0, 0);
  }

  60% {
    background-color: rgb(157, 4, 196);
  }

  80% {
    background-color: rgb(247, 0, 255);
  }

  100% {
    background-color: white;
  }
}

@keyframes swap-color2 {
  0% {
    background-color: white;
  }

  20% {
    background-color: rgb(255, 7, 7);
  }

  40% {
    background-color: rgb(255, 0, 0);
  }

  60% {
    background-color: rgb(157, 4, 196);
  }

  80% {
    background-color: rgb(247, 0, 255);
  }

  100% {
    background-color: white;
  }
}

@keyframes swap-color3 {
  0% {
    background-color: white;
  }

  20% {
    background-color: rgb(255, 7, 7);
  }

  40% {
    background-color: rgb(255, 0, 0);
  }

  60% {
    background-color: rgb(157, 4, 196);
  }

  80% {
    background-color: rgb(247, 0, 255);
  }

  100% {
    background-color: white;
  }
}
@keyframes swap-color4 {
  0% {
    background-color: white;
  }

  20% {
    background-color: rgb(255, 7, 7);
  }

  40% {
    background-color: rgb(255, 0, 0);
  }

  60% {
    background-color: rgb(157, 4, 196);
  }

  80% {
    background-color: rgb(247, 0, 255);
  }

  100% {
    background-color: white;
  }
}
@keyframes swap-color5 {
  0% {
    background-color: white;
  }

  20% {
    background-color: rgb(255, 7, 7);
  }

  40% {
    background-color: rgb(255, 0, 0);
  }

  60% {
    background-color: rgb(157, 4, 196);
  }

  80% {
    background-color: rgb(247, 0, 255);
  }

  100% {
    background-color: white;
  }
}
@keyframes swap-color6 {
  0% {
    background-color: white;
  }

  20% {
    background-color: rgb(255, 7, 7);
  }

  40% {
    background-color: rgb(255, 0, 0);
  }

  60% {
    background-color: rgb(157, 4, 196);
  }

  80% {
    background-color: rgb(247, 0, 255);
  }

  100% {
    background-color: white;
  }
}
@keyframes swap-color7 {
  0% {
    background-color: white;
  }

  20% {
    background-color: rgb(7, 255, 90);
  }

  40% {
    background-color: rgb(0, 255, 21);
  }

  60% {
    background-color: rgb(4, 196, 52);
  }

  80% {
    background-color: rgb(200, 255, 0);
  }

  100% {
    background-color: white;
  }
}
